<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kill_yourself_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kill_yourself_1.Properties.Settings>
            <setting name="Blob1Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Blob2Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Blob3Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Blob4Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Blob5Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Blob6Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Blob7Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Blob8Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Bookmark1" serializeAs="String">
                <value />
            </setting>
            <setting name="BookmarkImg" serializeAs="String">
                <value />
            </setting>
        </Kill_yourself_1.Properties.Settings>
    </userSettings>
</configuration>